<div>
    <h2>
        <span>Tags</span>
        <button class="btn btn-primary float-right jh-create-entity create-tag-my-suffix" [routerLink]="['/', { outlets: { popup: ['tag-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Tag
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tags">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Tag</span></th>
            <th><span>Tag</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tag of tags ;trackBy: trackId">
                <td><a [routerLink]="['../tag-my-suffix', tag.id ]">{{tag.id}}</a></td>
                <td>{{tag.tag}}</td>
                <td>
                    <div *ngIf="tag.tagId">
                        <a [routerLink]="['../bild-my-suffix', tag.tagId  ]" >{{tag.tagId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tag-my-suffix', tag.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tag-my-suffix/'+ tag.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tag-my-suffix/'+ tag.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
